body{
    background-color: black;
    color:white;
    font-family:sans-serif;
}
input[type="range"]{
    width:200px;
}
div.partido{
    display:inline-block;
    max-width:480px;
    border:1px solid black;
    background-color: blue;
}
div.partido:nth-child(2){
    background-color: yellow;
    color:black;
}
div.partido:nth-child(3){
    background-color: darkgreen;
    color:white;
}
div.partido:nth-child(4){
    background-color: orangered;
    color:white;
}
input.votador[value]{
    content:30;
}
div#resultado th,div#resultado td{
    font-size:45pt;
    padding:0px 40px;
}
td{
    text-align: right;
}